<div class="banner">
  <h3><%= link_to "Wikinimous", articles_path %></h3>
  <h3><%= link_to "New article", new_article_path %></h3>
</div>

<h2>New article</h2>

<%= form_for(@article) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<hr>

<%= link_to "Back to list of articles", articles_path %>
