<div class="banner">
  <h3><%= link_to "Wikinimous", articles_path %></h3>
  <h3><%= link_to "New article", new_article_path %></h3>
</div>

<h2><%= @article.title %>
    <span><%= link_to "Edit", edit_article_path%></span>
    <span><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure ?"}  %></span>
</h2>
<p><%= @article.content %></p>

<hr>

<%= link_to "Back to list of articles", articles_path %>
